<nz-carousel nzAutoPlay>
<div nz-carousel-content >
   <div>
    <nz-input-group nzCompact style="margin: auto;">
      <div class="example-input">
        <input
        style="height: 40px;"
          placeholder='Chọn điểm đi'
          nz-input
          [(ngModel)]="inputValue"
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
        />
        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
      </div>
      <div class="example-input">
        <input
          style="height: 40px;"
          placeholder='Chọn điểm đến'
          nz-input
          [nzAutocomplete]="auto"
        />
        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
      </div>
      <div>
        <nz-date-picker nzPlaceHolder="Chọn ngày" style="height: 40px; text-align: center;" [(ngModel)]="date" (ngModelChange)="onChange($event)" nzFormat="dd/MM/yyyy"></nz-date-picker>
      <button nz-button nzType="primary" nzSize="large">
        <span nzTheme="outline" style="text-align: center;" (click)="getAllByRoute()">Tìm vé</span>
      </button>
    </div>
    </nz-input-group>
  </div>
</div>
</nz-carousel>




<nz-modal [(nzVisible)]="isVisible" nzTitle="Thông tin đặt chuyến" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"  nzWidth="1000px">
  <ng-container *nzModalContent>
    <div nz-row>


      <div nz-col nzSpan="8">
        <span style="font-size: 30px;"
        nz-icon
        nzType="border"
        nzTheme="outline"
        ></span>
        <p>Ghế được chọn</p>
      
        <span style="font-size: 30px;" class="xam"
        nz-icon
        nzType="close-square"
        nzTheme="outline"
        ></span>
        <p>Ghế không được chọn</p>
      
      
        <span style="font-size: 30px;" class="do"
        nz-icon
        nzType="border"
        nzTheme="outline"
        ></span>
        <p>Ghế đang chọn</p>
      </div>

      <div nz-row [nzGutter]="16" nz-col nzSpan="8">
        <table>
          <tbody>
            <tr>
              <td>
                <img src="../../assets/icon/volang.png" alt="" style="width: 30px ; height: 30px;">
              </td>
            </tr>
            <tr>
              <td>
                <div
                  [ngClass]="data2[0].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(0)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[0].trangthai != 2"
                    [ngClass]="data2[0].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[0].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[1].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(1)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[1].trangthai != 2"
                    [ngClass]="data2[1].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[1].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[2].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(2)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[2].trangthai != 2"
                    [ngClass]="data2[2].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[2].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
            </tr>
      
            <tr>
              <td>
                <div
                  [ngClass]="data2[3].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(3)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[3].trangthai != 2"
                    [ngClass]="data2[3].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[3].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[4].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(4)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[4].trangthai != 2"
                    [ngClass]="data2[4].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[4].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[5].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(5)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[5].trangthai != 2"
                    [ngClass]="data2[5].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[5].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
            </tr>
      
            <tr>
              <td>
                <div
                  [ngClass]="data2[6].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(6)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[6].trangthai != 2"
                    [ngClass]="data2[6].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[6].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[7].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(7)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[7].trangthai != 2"
                    [ngClass]="data2[7].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[7].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[8].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(8)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[8].trangthai != 2"
                    [ngClass]="data2[8].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[8].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
            </tr>
      
            <tr>
              <td>
                <div
                  [ngClass]="data2[9].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(9)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[9].trangthai != 2"
                    [ngClass]="data2[9].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[9].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[10].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(10)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[10].trangthai != 2"
                    [ngClass]="data2[10].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[10].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[11].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(11)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[11].trangthai != 2"
                    [ngClass]="data2[11].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[11].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
            </tr>
      
            <tr>
              <td>
                <div
                  [ngClass]="data2[12].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(12)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[12].trangthai != 2"
                    [ngClass]="data2[12].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[12].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[13].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(13)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[13].trangthai != 2"
                    [ngClass]="data2[13].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[13].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[14].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(14)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[14].trangthai != 2"
                    [ngClass]="data2[14].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[14].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="data2[15].trangthai == 2 ? 'disable' : ''"
                  title="Ghế số 1"
                  (click)="chuyenMau(15)"
                >
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="border"
                    nzTheme="outline"
                    *ngIf="data2[15].trangthai != 2"
                    [ngClass]="data2[15].trangthai == 1 ? 'do' : 'xanh'"
                  ></span>
                  <span style="font-size: 30px;"
                    nz-icon
                    nzType="close-square"
                    nzTheme="outline"
                    *ngIf="data2[15].trangthai == 2"
                    class="xam"
                  ></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập họ tên của bạn!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Họ và tên người đi" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập email!">
            <nz-input-group nzPrefixIcon="mail">
              <input type="text" nz-input formControlName="email" placeholder="Email để nhận thông tin vé" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại!">
            <nz-input-group nzPrefixIcon="phone">
              <input type="text" nz-input formControlName="phone" placeholder="Số điện thoại" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="form">
              <input type="text" nz-input formControlName="note" placeholder="Ghi chú" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </ng-container>
</nz-modal>

<nz-list nzGrid>
  <div nz-row [nzGutter]="48">
    <div nz-col [nzSpan]="12" *ngFor="let item of data">
      <nz-list-item>
        <nz-card>
           <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="8">
              <div class="inner-box">
                <img style="height: 130px;" nz-col [nzSpan]="20" alt="example" src="../../assets/icon/xe16.jpg" />
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <div class="inner-box">
                <h3>{{item.name}}</h3>
                <p>Số chỗ ngồi : {{ item.loaixe }}</p>
                <p>Điểm đi : {{ item.diemdi }} • {{ item.giodi }}</p>
                <p>Điểm đến : {{ item.diemtoi }} • {{ item.gioden }}</p>
              </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <div class="inner-box">
                <h3>Giá vé : {{item.giave | currency: "VND"}}</h3>
                <p>Còn {{ item.ghetrong }} chỗ trống</p>
                <a>Thông tin chi tiết</a>
                <div>
                <button nz-button nzType="primary" (click)="test(item)">
                  Chọn chuyến
                </button>
              </div>
              </div>
            </div>
           </div>
        </nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>

